

<% if current_user.following?(user) %>
  <p><%= link_to 'UNFOLLOW', user_relationships_path(user.id), method: :delete, remote: true, id: "unfollow-btn", class: "button"  %></p>
<% else %>
  <p><%= link_to 'FOLLOW', user_relationships_path(user.id), method: :post, remote: true, id: "follow-btn", class: "button"  %></p>
<% end %>
