<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-4">
      <div id="title"><%= @user.user_name %><span>'s followers</span></div>
    </div>
    <div class="col-lg-6"></div>
  </div>

  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <p id="follow_button">
        <%= render 'follow', users: @users %>
      </p>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>
